body {
    background-color: rgb(15, 5, 31);
}
h1 {
    margin: 20px;
    margin-top: 50px; 
    text-align: center;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.body-container {    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    padding: 5rem;
}

body.dark {
    background-color: rgb(15, 5, 31);
    color:white;
    
}
/*.toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
}*/

/*label {
    padding-top: 4px;
    text-align: center;
    background-color: dimgrey;
    color: white;
    border-radius: 30%;
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s linear;
}*/

/*body.dark label {
    background-color: #fff;
}*/

input {
    visibility: hidden;
}

/* ================= Styling for slideshow gallery =========== */

img {
    vertical-align: middle;    
}

.container {
    position: relative;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    padding: 16px;
    margin-top: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the next button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Hover state: black background, slight transparency */
.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Number text */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color:black;
    /*background-color: #222;*/
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumbnail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* slideshow buttons */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


















